.container
{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drop-zone
{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: #878787;
    color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.drop-zone
{
    display: flex;
    align-items: center;
    justify-content: center;
}

table
{
    width:41%;
}
td
{
    width: 26.6%;
    height: 88px;
    border: 3px solid #222;
}
td:after
{
    content: '';
    display: block;
    margin-top: 100%;
}