html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

table {
    width: 50%;
}
td{
    width: 33.333%;
    height: 100px;
    border: 6px solid #222;
    cursor: move;
}
td:after{
    content: '';
    display: block;
    margin-top: 100%;
}

.centre
{
    margin-left:auto;
    margin-right:auto;
}
.clickable
{
    display:flex;
    cursor: move;
}

.draggable:hover
{
   opacity:0.5;
}

.standardDiv
{
    height:9.5rem;
    width:9.5rem;
    margin: 1rem auto;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: lightgray;
    border:3px dashed #111;
    transition:border-width 0.2s, transform 0.2s, background-color 0.2s;
}

.standardDiv span
{
    pointer-events: none;
}

/* drag and drop related styling */
.dropZone-hover
{
    border-width:5px;
    transform:scale(1.1);
}
.dropped
{
   border-style:solid;
}
.dragged
{
    user-select: none;
    opacity: 0.1;
    cursor: default;
}
.dragged:hover {
    opacity: 0.1;
}
