html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.draggable
{
    display:flex;
    justify-content: left;
    cursor: move;
    height: 40%;
    width: 30%;
}

.draggable:hover
{
   opacity:0.5;
}

.droppable
{
    height:9.5rem;
    width:9.5rem;
    margin: 1rem auto;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: lightgray;
    border:3px dashed #111;
    transition:border-width 0.2s, transform 0.2s, background-color 0.2s;
}

.droppable span
{
    pointer-events: none;
}

.centre
{
    margin-left:auto;
    margin-right:auto;
}
/* drag and drop related styling */
.droppable.droppable-hover
{
    border-width:5px;
    transform:scale(1.1);
}

.droppable.dropped
{
   border-style:solid;
}

.draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}
.draggable.dragged:hover {
    opacity: 0.1;
}